.field {
  margin-bottom: 1.5em;

  label, .label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
  }

  input[type="text"],
  input[type="url"],
  input[type="number"],
  select {
    display: block;
    width: 100%;
    font-size: 18px;
    outline: 0;
    color: #2a3843;
    border-radius: 1px;
    padding: 9px;
    -webkit-appearance: none;

    &[disabled] {
      opacity: 0.6;
    }
  }

  select {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MDAgNjAwIiB3aWR0aD0iOXB4IiBoZWlnaHQ9IjlweCIgdmVyc2lvbj0iMS4xIj4NCgk8cG9seWdvbiBwb2ludHM9IjUwLDE1NS43IDU1MCwxNTUuNyAzMDAsNTg4LjMiIHN0eWxlPSJmaWxsOiMyQTM4NDM7Ii8+DQo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: right 6px center;
    padding-right: 21px;
  }
}
