.og-builder {
  padding-bottom: 120px;

  h1 {
    font-weight: 500;
    margin: 60px 0 24px;

    span {
      @extend %roboto-slab;

      display: inline-block;
      width: 33px;
      height: 33px;
      line-height: 33px;
      border-radius: 33px;
      background: #007194;
      text-align: center;
      margin-right: 6px;
    }
  }

  .action-button-wrapper {
    .button {
      float: right;
      margin-left: 21px;
    }
  }

  .loading {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;

    .loader {
      margin-top: 12px;
    }
  }

  .field {
    .final-url[readonly] {
      opacity: 1;
    }
  }

  .customize {
    h3 {
      font-size: 21px;
      font-weight: 400;
      position: relative;
      padding-bottom: 6px;
      margin-bottom: 21px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: calc(100% - 1.875rem);
        height: 2px;
        background: #4D5D6A;
      }
    }
  }
}
