.primary-header {
  margin-top: 36px;

  h2 {
    font-weight: 400;
    text-align: center;
    font-size: 21px;
    color: #fff;

    a {
      text-decoration: none;
      vertical-align: -18px;
      display: inline-block;
      margin-right: 9px;
      width: 130px;

      svg {
        max-width: 100%;
      }
    }
  }

  h1 {
    @extend %pacifico;
    font-size: 48px;
    text-align: center;
    color: #d0d7dd;
  }

  h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 42px auto 0;
    font-weight: 400;
    width: 560px;
    text-align: center;
    max-width: 90%;

    code {
      display: inline-block;
      background: #354b5a;
      color: #fff;
      font-size: 16px;
      padding: 0 3px;
      line-height: 21px;
      vertical-align: 1px;
      border-radius: 1px;
    }
  }
}
