.slide-transition {
  transition: all 240ms ease-out;
  overflow: hidden;
  position: relative;
}

.slide-enter, .slide-leave {
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.slide-h-transition {
  transition: all 240ms ease-out;
  overflow: hidden;
  position: relative;
}

.slide-h-enter, .slide-h-leave {
  white-space: nowrap;
  width: 0;
  opacity: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.fade-transition {
  transition: opacity 240ms ease-out;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
