<section class="motif-explanation row">
  <div class="medium-4 columns">
    <open-graph-illustration class="hide-for-small"></open-graph-illustration>

    <h4>What is Open Graph?</h4>
    <p><a href="http://ogp.me/">Open Graph</a> tags help automatically display useful info when links are shared on sites like Facebook and Twitter. These "<code>og</code>" tags can contain page titles, images, and more.</p>
  </div>

  <div class="medium-4 columns">
    <motif-illustration class="hide-for-small"></motif-illustration>

    <h4>What is Motif?</h4>
    <p>Motif helps you create custom images that can be shared directly anywhere on the Internet, including <code>og:image</code> tags. These images help your content and brand shine.</p>
  </div>

  <div class="medium-4 columns">
    <implementing-motif-illustration class="hide-for-small"></implementing-motif-illustration>

    <h4>Tying it Together</h4>
    <p>Once you've designed a beautiful template using Motif, you can implement it across your whole website in just a few minutes. We'll walk you through this in step 4.</p>
  </div>
</section>
