<section class="motif-explanation row">
  <p class="large-4 columns">When people share links on sites like Facebook and Twitter, <a href="http://ogp.me/">Open Graph</a> tags are used to display information about the page. This information can include things such as the title, description, and an optional image.</p>

  <p class="large-4 columns">Motif lets you easily create custom branded images that can be shared directly anywhere on the Internet, or used as <code>og:image</code> tags. When used as <code>og:image</code>s, they make your content stand out every time it's shared.</p>

  <p class="large-4 columns">Once you've designed a beautiful template for your sharable images, you can easily implement it across your whole website. Motif is totally free, and only takes a few minutes to set up site-wide. Check out the <a href="/docs">full documentation</a> to learn more.</p>
</section>
