<section class="motif-explanation row">
  <p class="medium-4 columns"><a href="http://ogp.me/">Open Graph</a> tags help automatically display useful info when links are shared on sites like Facebook and Twitter. These "<code>og</code>" tags can contain page titles, images, and more.</p>

  <p class="medium-4 columns">Motif helps you create custom images that can be shared directly anywhere on the Internet, including <code>og:image</code> tags. These images help your content and brand shine.</p>

  <p class="medium-4 columns">Once you've designed a beautiful template using Motif, you can implement it across your whole website in just a few minutes. Check out the <a href="/docs">full documentation</a> to learn more.</p>
</section>
