<div class="og-builder">
  <section class="enter-url">
    <header class="row">
      <h1 class="large-12 columns">
        <span>1</span>
        Enter the URL of a blog post or news article
      </h1>
    </header>

    <div class="row">
      <div class="field large-12 columns">
        <input
          v-el:url-input
          type="url"
          placeholder="http://…"
          @keyup.13="handleURLSubmit"
          v-model="url"
          :class="{'shake': error422, 'animated': true }"
          :disabled="url != '' && title"
        >
      </div>

      <div class="action-button-wrapper columns small-12">
        <button
          v-if="!loading && title == null"
          class="blue button"
          @click="handleURLSubmit"
          :disabled="!url"
        >
          Let's Go!
        </button>

        <button
          v-if="!loading && url && title !== null"
          class="button"
          @click="handleRestartClick"
        >
          Start Over
        </button>

        <button
          v-if="!url"
          transition="slide-fade-h"
          class="button"
          @click="submitRandomURL"
        >
          Show Me a Demo
        </button>
      </div>
    </div>

    <div v-if="loading" class="loading" transition="slide">
      Just a second, we're crunching some bits…

      <loader></loader>
    </div>

    <motif-explanation v-if="!loading && title == null" transition="slide"></motif-explanation>
  </section>

  <div v-if="!loading && url && title !== null" transition="slide">
    <section class="customize">
      <header class="row">
        <h1 class="large-12 columns">
          <span>2</span>
          We made our best guess based on the content and metadata from your page. Now you can set it up <em>just right</em>
        </h1>
      </header>

      <div class="row">
        <div class="columns medium-10 medium-centered large-8 large-uncentered">
          <image-preview :url="facebookImageURL"></image-preview>
        </div>

        <div class="columns large-4">
          <div class="row">
            <h3 class="columns large-12">General</h3>

            <div class="field columns small-6 medium-4 large-12">
              <label for="ogImageURL">Image URL</label>
              <input id="ogImageURL" type="url" v-model="ogImageURL">
            </div>

            <div class="field columns small-6 medium-4 large-12">
              <label for="logoURL">Logo URL</label>
              <input id="logoURL" type="url" v-model="logoURL">
            </div>

            <div class="field columns medium-4 large-12">
              <label>Background Color</label>
              <color-picker-input :color.sync="accentColor"></color-picker-input>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns small-12 large-8">
          <div class="row">
            <h3 class="columns large-12">Text</h3>

            <div class="field small-6 medium-3 columns">
              <label for="textPosition">Text Position</label>
              <select v-model="textPosition" id="textPosition">
                <option value="top">Top</option>
                <option value="middle">Middle</option>
                <option value="bottom">Bottom</option>
              </select>
            </div>

            <div class="field small-6 medium-3 columns">
              <label for="textAlignment">Text Alignment</label>
              <select v-model="textAlignment" id="textAlignment">
                <option value="left">Left</option>
                <option value="center">Center</option>
                <option value="right">Right</option>
              </select>
            </div>

            <div class="field small-6 medium-3 columns">
              <label for="fontFamily">Font Family</label>
              <select v-model="fontFamily" id="fontFamily">
                <option value="Avenir Next Demi,Bold">Avenir</option>
                <option value="DIN Alternate,Bold">Din</option>
                <option value="Charter">Charter</option>
                <option value="Georgia">Georgia</option>
              </select>
            </div>

            <div class="field small-6 medium-3 columns">
              <label>Text Color</label>
              <color-picker-input :color.sync="textColor"></color-picker-input>
            </div>
          </div>
        </div>

        <div class="columns small-12 large-4">
          <div class="row">
            <h3 class="columns large-12">Logo</h3>

            <div class="field small-6 columns">
              <label for="logoAlignment">Logo Alignment</label>
              <select v-model="logoAlignment" id="logoAlignment">
                <option value="top,left">Top left</option>
                <option value="top,center">Top center</option>
                <option value="top,right">Top right</option>
                <option value="bottom,left">Bottom left</option>
                <option value="bottom,center">Bottom center</option>
                <option value="bottom,right">Bottom right</option>
              </select>
            </div>

            <div class="field small-6 columns">
              <label for="logoPadding">Logo Padding</label>
              <input type="number" v-model="logoPadding">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="start-sharing">
      <header class="row">
        <h1 class="large-12 columns">
          <span>3</span>
          Start sharing!
        </h1>
      </header>

      <div class="row">
        <div class="small-8 small-centered medium-4 medium-uncentered large-4 columns">
          <image-preview :url="fullImageURL"></image-preview>
        </div>

        <div class="medium-8 large-8 columns">
          <div class="field">
            <input type="text" class="final-url" v-model="fullImageURL" readonly @click="selectFullURL">
          </div>

          <p>You can copy and share this URL anywhere on the internet. If you use it in your <code>og:image</code> and <code>twitter:image</code> tags, the image will be automatically loaded by Facebook, Twitter, Slack, and other social apps. Motif automatically adjusts the size and layout of your image to look great on every platform.</p>
        </div>
      </div>
    </section>

    <section class="setting-up-the-rest-of-your-website">
      <header class="row">
        <h1 class="large-12 columns">
          <span>4</span>
          Using Motif on the rest of your site
        </h1>
      </header>

      <div class="row">
        <div class="columns">
          <p>If you have a CMS-powered site like WordPress, Squarespace, Rails, or Jekyll, it only takes a few minutes to set up Motif for every current <em>and</em> future page on your website. Simply use the same URL as above, but replace the <code>url</code> and <code>image_url</code> (optional) query string parameters using your CMS' template language. Here's an example showing which parts you'll probably want to replace:</p>

          <url-example :url="exampleImageURL" url-placeholder="{{ URL-encoded URL of current page }}" image-url-placeholder="{{ URL-encoded URL of desired image background }}"></url-example>

          <p>If you have any questions or thoughts, we'd love to hear from you on <a href="https://twitter.com/imgix">Twitter</a>, or in <a href="http://slack.imgix.com">our community Slack</a>.</p>
        </div>
      </div>
    </section>
  </div>
</div>
