<div>
  <div class="field">
    <input
      type="url"
      placeholder="Enter your page URL"
      @keyup.13="handleReturn"
      v-model="url"
    >
  </div>

  <p>{{ $data | json }}</p>

  <template v-if="url && title">
    <p>{{ harmonyURL }}</p>

    <div class="field">
      <label for="accentColor">Accent Color</label>
      <input type="text" v-model="accentColor">
    </div>


    <img width="600" :src="harmonyURL">
  </template>
</div>
