<div class="url-example-wrapper">
  <pre class="url-example"><code>{{ splitUrl[0] }}<strong>{{ urlPlaceholder }}</strong>{{ splitUrl[1] }}<strong>{{ imageUrlPlaceholder }}</strong>{{ splitUrl[2] }}</code></pre>
</div>
