<header class="primary-header col-group">
  <div class="col-12">
    <h2>
      <%= link_to render('global/imgix_logo'), 'https://imgix.com' %>
      proudly presents…
    </h2>

    <h1>Motif</h1>

    <h3>Motif helps you generate beautiful preview images for your site in just a few clicks. Make your whole site more sharable in minutes.</h3>
  </div>
</header>
