<header class="primary-header col-group">
  <div class="col-12">
    <h2>
      <%= link_to embedded_svg('imgix-logo.svg'), 'https://imgix.com' %>
      proudly presents…
    </h2>

    <h1>Motif</h1>

    <h3>Create beautiful images to share your content, in just a few clicks. The easiest, most useful og:images you’ve ever seen.</h3>
  </div>
</header>
